version: '3.8'

services:

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    

  user-service:
    build: ./User-service
    container_name: user-service
    ports:
      - "8081:8081"
    depends_on:
      - mysql

  product-service:
    build: ./Product-service
    container_name: product-service
    ports:
      - "8082:8082"
    depends_on:
      - mysql

volumes:
  mysql-data:  
